In [1]:
import pandas as pd

In [2]:
import numpy as np

In [2]:
ser = pd.Series([1, 2, 3, 4])
print(ser)

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
ser[3]

4

In [4]:
ser[1:4]

1    2
2    3
3    4
dtype: int64

In [8]:
ser=pd.Series([1.24, 3.14, 6.67, 4.22, 5.00])
print(ser)

0    1.24
1    3.14
2    6.67
3    4.22
4    5.00
dtype: float64

In [9]:
print(type(ser))

<class 'pandas.core.series.Series'>

In [10]:
l1 = [1.24, 3.14, 6.67, 4.22, 5.00]
print(l1)

[1.24, 3.14, 6.67, 4.22, 5.0]

In [11]:
ser.index

RangeIndex(start=0, stop=5, step=1)

In [12]:
ser.values

array([1.24, 3.14, 6.67, 4.22, 5.  ])

In [13]:
l2 = ['A', 'B', 'C', 'D', 'E']
print(l2)

['A', 'B', 'C', 'D', 'E']

In [14]:
ser=pd.Series(l1,index=l2)
print(ser)

A    1.24
B    3.14
C    6.67
D    4.22
E    5.00
dtype: float64

In [ ]:
ser.loc[0]

In [21]:
ser.iloc[3]

4.22

In [20]:
ser[3]

4.22

# Data Frame

In [22]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [25]:
df['col1'] = [1, 2, 3]

In [26]:
df

   col1
0     1
1     2
2     3