In [1]:
import pandas as pd

2.	Write a program to concat two DataFrames.

In [11]:
df1 = pd.DataFrame(
 {
    'Name' : ['Piya', 'Jiya', 'Riya'],
    'Age' : [15, 16, 17]
})

df2 = pd.DataFrame({
    'Name' : ['Shakti', 'Mukti', 'Bhakti'],
    'Age' : [22, 24, 26]
})
df3 = [df1 , df2]

df = pd.concat(df3)
print(df)

     Name  Age
0    Piya   15
1    Jiya   16
2    Riya   17
0  Shakti   22
1   Mukti   24
2  Bhakti   26